<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button (click)="delete(hero)" class="delete"
              title="delete hero">x
      </button>
    </a>
  </li>

  <div>
    <label id="new-hero">Hero name: </label>
    <input #heroName for="new-hero"/>

    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''" class="add-button">
      Add hero
    </button>
  </div>

</ul>
